$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: rgb(98%, 98%, 98%);

/* color changing background code taken from:
https://codepen.io/P1N2O/pen/pyBNzX */
body {
  font-family: 'Baloo Tamma 2', cursive;
  color: $fontcolor;
  margin: 70px;
	background: linear-gradient(-45deg, #e2afff, #99e4a5, #99cadc, #8dd8d2);
	background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#navstuff{
  display:flex;
  justify-content: flex-end;
  
}

h3{
  font-weight: 800;
}

.editpost{
  display: flex;
  align-items: center;
}

input{
  width: 350px;
  height: 40px;
}

h4{
  margin-top: 20px;
}

.createpostbox{
  display: flex;
  flex-direction: column;
  align-items: center;
}


#textsize{
  width: 350px;
  height: 200px;
}

/* GLOBAL STYLES */
body {
  padding-top: 5em;
  display: flex;
  justify-content: center;
}

#newbut{
  margin-left: 10px;
}

#error{
  margin: 20px;
  display: flex;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 20px;
  justify-content: center;
  height: 50px;
  width: 700px;
}

#postbut{
  margin-top: 15px;
  border-radius: 30px;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 17px;
}

// Typewrite code taken & adjusted from: https://css-tricks.com/snippets/css/typewriter-effect/
/* DEMO-SPECIFIC STYLES */
.typewriter2{
  margin-top: 20px;
}
.typewriter2 h1 {
  color: #188ec1;
  font-weight: 600;
  font-size: 28px;
  text-shadow: 1.5px 1.5px 0px #d8f3ff, 2.5px 2.5px 0px #188ec1;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #188ec1; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret2 .5s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret2 {
  from, to { border-color: transparent }
  50% { border-color:#188ec1 }
}

.typewriter{
  margin-top: 10px;
}

.typewriter h1 {
  color: #fff;
  font-weight: 800;
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: 3px 3px 0px #017e7f, 5px 5px 0px #eb452b, 7px 7px 0px #efa032,  10px 10px 0px #46b59b;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange } 
}

// amazing rainbow code from: https://codepen.io/fossheim/pen/MWwOBwx
:root {
  --primary: #555BFF;
  --secondary: #22D2A0;
  --background: white;
  --green: #1FC11B;
  --yellow: #FFD913;
  --orange: #FF9C55;
  --red: #FF5555;
} 

#display:hover {
    top: -30px;
    left: 30px;
    box-shadow: 0 0 0 -3px var(--background), 0 0 0 0 var(--green),
        0 0 0 -3px var(--background), 0 0 0 0  var(--yellow),
        0 0 0 -3px var(--background), 0 0 0 0  var(--orange),
        0 0 0 -3px  var(--background), 0 0 0 0  var(--red);
  }

#displaybox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#display {
  background-color: var(--background);
  border: 2px solid var(--primary);

  padding: 10px;
  margin: calc(40vh - 30px) auto 0 auto;
  box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
        20px -20px 0 -3px var(--background), 20px -20px var(--yellow), 
        30px -30px 0 -3px var(--background), 30px -30px var(--orange), 
        40px -40px 0 -3px var(--background), 40px -40px var(--red); 
  transition: box-shadow 1s, top 1s, left 1s;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  padding-top: 20px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 20px;
  margin-top: 5px;
  padding-bottom: 20px;
  background-color: white;
  border: 4px black;
  margin: 20px;
  text-decoration: none;

  .titlecontainer{
    font-size: 28px;
    font-weight: 600;
    color: rgb(13, 50, 104);
  }
  .tagscontainer{
    color: orange;
    font-size: 18px;
  }
}
.postbox{
  
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding-top: 10px;
  justify-content: space-around;
  box-sizing: border-box;
  background-color: white;
  align-items: center;
  padding-bottom: 20px;
  border: 4px rgb(255, 124, 124);
  border-style: solid;
  .titlecontainer{
    font-size: 28px;
    font-weight: 600;
    color: rgb(13, 50, 104);
  }
  .contentcontainer{
    font-size: 23px;
    color: rgb(19, 86, 157);
  }
  .tagscontainer{
    color: orange;
    font-size: 18px;
  }
}
blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}
blockquote {
  quotes: "“" "”" "‘" "’";
}
.bro{
  display:flex;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 17px;
  color: #eb452b;
  margin-top: -7px;
}
#icons {
  display: flex;
  flex-direction: row;
  
}

#taginput{
  font-size: 20px;
  color: orange;
  border-radius: 10px;
  margin-right: 10px;
}
.tagbtn{
  font-size: 20px;
  padding: 0.5%;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  border-color: orange;
  color: #fff;
  box-shadow: 0 0 40px 40px orange inset, 0 0 0 0 orange;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.tagbtn:hover {
  box-shadow: 0 0 10px 0 orange inset, 0 0 10px 4px orange;
  color: orange;

}

#icon{
  display: flex;
  margin-bottom: 5px;
  flex-direction: row;
  border-radius: 20px;
  justify-content: flex-end;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 600;
  font-size: 16px;
  
}

.editthis h1:after {
  position: absolute;
  content: ""; 
  width: 100%;
  height: 100%;
  line-height: 48px;
  color: #f9f1f3;
  text-shadow: 2.7px 2.7px 0px #de3663, 5px 5px 0px #e98ca5;
  font-weight: 700;
  font-size: 40px;
  
  left: 38%;
  align-items: center;
  top: 52%;
  animation: tookmesolong 5.0s linear 1;
  animation-fill-mode: forwards;
}

// this took me so long i wanna cri
  @keyframes tookmesolong {
  0% {
    content: "w";
  }
  4% {
    content: "wa";
  }
  8% {
    content: "wat";
  }
  12% {
    content: "wat ";
  }
  16% {
    content: "wat u";
  }
  20% {
    content: "wat u ";
  }
  24% {
    content: "wat u e";
  }
  28% {
    content: "wat u ed";
  }
  32% {
    content: "wat u edi";
  }
  34% {
    content: "wat u edit";
  }
  38% {
    content: "wat u editi";
  }
  42% {
    content: "wat u editin";
  }
  45% {
    content: "wat u editin,";
  }
  48% {
    content: "wat u editin, ";
  }
  50% {
    content: "wat u editin, c";
  }
  55% {
    content: "wat u editin, cu";
  }
  58% {
    content: "wat u editin, cut";
  }
  63% {
    content: "wat u editin, cuti";
  }
  67% {
    content: "wat u editin, cutie";
  }
  73% {
    content: "wat u editin, cuti";
  }
  76% {
    content: "wat u editin, cut";
  }
  80% {
    content: "wat u editin, cu";
  }
  85% {
    content: "wat u editin, c";
  }
  90% {
    content: "wat u editin, ";
  }
  94% {
    content: "wat u editin, b";
  }
  96% {
    content: "wat u editin, br";
  }
  98% {
    content: "wat u editin, bro";
  }
  100% {
    content: "wat u editin, bro?";
  }
  }